/* css reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Colors */

:root{
  --color-primary: rgba(239, 229, 229, 0.5);
  --color-secondary: #333;
  --color-tertiary: #444;

  --text-primary: #333;
}

/* Global styles */
html,
body,
#root,
.App {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-primary);
  background-color: rgb(34, 83, 167);
}

a {
  text-decoration: none;
  color: #333;
}

button{
  border: 1px solid var(--color-tertiary);
  border-radius: 0.7em;
  background-color: transparent;
  cursor: pointer;
}

ul{
  list-style: none;
}

/* widgets */

.widget{
  background-color: var(--color-primary);
  width: fit-content;
  padding: 1em;
  border: 1px solid var(--color-tertiary);
  border-radius: 0.7em;
}


