/* css reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Colors */

:root {
  --color-primary: rgba(255, 255, 255, 0.82);
  --color-secondary: #333;
  --color-tertiary: #444;

  --text-primary: #333;
}

/* Global styles */
html,
body,
#root,
.App {
  height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-primary);
}

.App {
  background-color: var(--color-primary);
  background: no-repeat center/cover fixed;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/* widgets */

.widget {
  display: inline-block;
  background-color: var(--color-primary);
  width: fit-content;
  padding: 1em;
  border: 1px solid var(--color-tertiary);
  border-radius: 0.7em;
}

/* Layout */

.App {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
main {
  border: 1px solid yellowgreen;
  flex: 1;
}
footer {
  margin-top: auto;
}
